In [1]:
# importar librerias
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
def sacar_url (ciudad, zona, barrio): 
    
    '''    
    A través de la ciudad, la zona y el barrio obtenemos los datos de la pagina de idealista
    
    Revisar el formato que tenga el url en la web, por ej:
    
    url = "https://www.idealista.com/venta-viviendas/sevilla/centro/arenal-museo-tetuan/"
    
    '''
    
    url = f"https://www.idealista.com/venta-viviendas/{ciudad}/{zona}/{barrio}/"
    
    headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36",
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
    "accept-language": "en-US;en;q=0.9",
    "accept-encoding": "gzip, deflate, br"}
    response = requests.get(url, headers=headers)
    
    if (response.status_code == 200):
        
        soup = BeautifulSoup(response.content, "html.parser")
        return soup
        
        
    else: 
        print(f"Error en la solicitud. Código de estado: {response.status_code}")

In [3]:
def sacar_url_mas_paginas (ciudad, zona, barrio): 
    
    '''    
    A través de la ciudad, la zona y el barrio obtenemos los datos de la pagina de idealista
    
    Revisar el formato que tenga el url en la web, por ej:
    
    url = "https://www.idealista.com/venta-viviendas/sevilla/centro/arenal-museo-tetuan/pagina-2.htm"
    
    '''
    
    url = f"https://www.idealista.com/venta-viviendas/{ciudad}/{zona}/{barrio}/pagina-2.htm"
    
    headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36",
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
    "accept-language": "en-US;en;q=0.9",
    "accept-encoding": "gzip, deflate, br"}
    response = requests.get(url, headers=headers)
    
    if (response.status_code == 200):
        
        soup = BeautifulSoup(response.content, "html.parser")
        return soup
        
        
    else: 
        print(f"Error en la solicitud. Código de estado: {response.status_code}")

In [4]:
def informacion_viviendas(soup): 
    
    # Obtener el recuadro de las viviendas
    
    result = soup.find(class_='items-container items-list')
    anuncios =result.find_all(class_ = "item item_contains_branding item_hightop extended-item item-multimedia-container")
    
    # Lista con cada una de las viviendas
    anuncios_info = result.find_all(class_="item-info-container")
    
    return anuncios_info

In [5]:
def sacar_datos_vivienda(anuncios_info, ciudad, zona, barrio):
    
    lista_viv = []
    
    for anuncio in anuncios_info: 
        nombre = anuncio.find(class_='item-link')['title']
        precio = int(anuncio.find(class_='item-price h2-simulated').text.replace('€', '').replace('.', ''))
        numero_hab = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[0].text
        metros_cuadrados = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[1].text
        #descripcion = anuncio.find(class_='item-detail-char').find_all(class_='item-detail')[2].text
        
        lista_viv.append(
            {'Vivienda': nombre, 
            'Precio' : precio, 
            'Numero habitaciones' : numero_hab, 
            'Metros cuadrados': metros_cuadrados, 
            'Ciudad': ciudad, 
            'Zona': zona,
            'Barrio' : barrio 
            #'Descripcion': descripcion
        })
        
    
    df = pd.DataFrame(lista_viv)
        
    return df

In [6]:
def df_viviendas_zonas(ciudad,zona,barrio):
    
    # Saco la informacion a traves del url
    soup = sacar_url (ciudad, zona, barrio)
    
    #Saco informacion de las viviendas
    
    anuncios_info = informacion_viviendas(soup)
    
    # Creo el data frame 
    
    df = sacar_datos_vivienda(anuncios_info, ciudad, zona, barrio)
    
    try: 
            # Saco la informacion a traves del url
        soup = sacar_url_mas_paginas (ciudad, zona, barrio)
        
        #Saco informacion de las viviendas
        
        anuncios_info = informacion_viviendas(soup)
        
        # Creo el data frame 
        
        df_1 = sacar_datos_vivienda(anuncios_info, ciudad)
        
        df_unido = pd.concat([df, df_1], ignore_index=True)
    
    except Exception as e:
        print(f"Advertencia: No se pudo obtener información de páginas adicionales. Error: {e}")
        # Si ocurre un error, se devuelve solo el primer DataFrame
        df_unido = df
        
        

        
    return df_unido

In [7]:
df_sevilla_arenal = df_viviendas_zonas('sevilla', 'centro','arenal-museo-tetuan')

Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'

In [8]:
df_sevilla_arenal

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en calle General Polavieja, Arenal - Muse...",539000,3 hab.,147 m²,sevilla,centro,arenal-museo-tetuan
1,"Piso en calle O'Donnell, 34, Arenal - Museo - ...",740000,3 hab.,156 m²,sevilla,centro,arenal-museo-tetuan
2,"Piso en calle San Pablo, Arenal - Museo - Tetu...",740000,3 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
3,"Piso en calle San Pablo, Arenal - Museo - Tetu...",760000,3 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
4,"Piso en calle Albareda, Arenal - Museo - Tetuá...",960000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
5,"Piso en calle Cristo del Calvario, Arenal - Mu...",910000,5 hab.,247 m²,sevilla,centro,arenal-museo-tetuan
6,"Piso en calle Méndez Núñez, Arenal - Museo - T...",670000,2 hab.,85 m²,sevilla,centro,arenal-museo-tetuan
7,"Dúplex en calle radio sevilla, Arenal - Museo ...",418000,3 hab.,109 m²,sevilla,centro,arenal-museo-tetuan
8,"Piso en calle Albareda, Arenal - Museo - Tetuá...",540000,3 hab.,125 m²,sevilla,centro,arenal-museo-tetuan
9,"Ático en Arenal - Museo - Tetuán, Sevilla",420000,2 hab.,79 m²,sevilla,centro,arenal-museo-tetuan
10,"Piso en Arenal - Museo - Tetuán, Sevilla",1250000,5 hab.,352 m²,sevilla,centro,arenal-museo-tetuan
11,"Piso en Arenal - Museo - Tetuán, Sevilla",609000,4 hab.,144 m²,sevilla,centro,arenal-museo-tetuan
12,"Piso en calle Pastor y Landero, Arenal - Museo...",1200000,5 hab.,219 m²,sevilla,centro,arenal-museo-tetuan
13,"Piso en calle Moratín, Arenal - Museo - Tetuán...",750000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
14,"Ático en Arenal - Museo - Tetuán, Sevilla",790000,3 hab.,125 m²,sevilla,centro,arenal-museo-tetuan
15,"Piso en Arenal - Museo - Tetuán, Sevilla",1250000,5 hab.,283 m²,sevilla,centro,arenal-museo-tetuan
16,"Piso en Alfonso XII, Arenal - Museo - Tetuán, ...",360000,1 hab.,85 m²,sevilla,centro,arenal-museo-tetuan
17,"Piso en calle Arjona, 5, Arenal - Museo - Tetu...",460000,5 hab.,154 m²,sevilla,centro,arenal-museo-tetuan
18,"Piso en calle Galera, 12, Arenal - Museo - Tet...",236000,1 hab.,40 m²,sevilla,centro,arenal-museo-tetuan
19,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",520000,3 hab.,144 m²,sevilla,centro,arenal-museo-tetuan
20,"Estudio en Arenal - Museo - Tetuán, Sevilla",185000,49 m²,Bajo exterior con ascensor,sevilla,centro,arenal-museo-tetuan
21,"Piso en Arenal - Museo - Tetuán, Sevilla",475000,3 hab.,122 m²,sevilla,centro,arenal-museo-tetuan
22,Casa o chalet independiente en Arenal - Museo ...,890000,5 hab.,179 m²,sevilla,centro,arenal-museo-tetuan
23,"Piso en calle Gamazo, Arenal - Museo - Tetuán,...",390000,2 hab.,94 m²,sevilla,centro,arenal-museo-tetuan
24,"Piso en calle Sauceda, 7, Arenal - Museo - Tet...",298000,1 hab.,61 m²,sevilla,centro,arenal-museo-tetuan
25,"Piso en calle Arfe, Arenal - Museo - Tetuán, S...",260000,1 hab.,65 m²,sevilla,centro,arenal-museo-tetuan
26,"Piso en calle Zaragoza, 2, Arenal - Museo - Te...",850000,2 hab.,191 m²,sevilla,centro,arenal-museo-tetuan
27,Casa o chalet independiente en Arenal - Museo ...,2500000,5 hab.,626 m²,sevilla,centro,arenal-museo-tetuan
28,Casa o chalet independiente en Arenal - Museo ...,832000,10 hab.,325 m²,sevilla,centro,arenal-museo-tetuan
29,"Piso en calle Almirantazgo, 11, Arenal - Museo...",500000,2 hab.,80 m²,sevilla,centro,arenal-museo-tetuan

In [9]:
def por_barrios (ciudad, zona, barrios): 
    
    lista_df = []
    
    for barrio in barrios: 
        
        df_barrio = df_viviendas_zonas(ciudad,zona,barrio)
        
        lista_df.append(df_barrio)
    
    df_final = pd.concat(lista_df, ignore_index=True)
    
    return df_final

In [10]:
barrios = ['arenal-museo-tetuan', 'alameda']

In [11]:
por_barrios('sevilla', 'centro', barrios)

Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en calle General Polavieja, Arenal - Muse...",539000,3 hab.,147 m²,sevilla,centro,arenal-museo-tetuan
1,"Piso en calle O'Donnell, 34, Arenal - Museo - ...",740000,3 hab.,156 m²,sevilla,centro,arenal-museo-tetuan
2,"Piso en calle San Pablo, Arenal - Museo - Tetu...",740000,3 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
3,"Piso en calle San Pablo, Arenal - Museo - Tetu...",760000,3 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
4,"Piso en calle Albareda, Arenal - Museo - Tetuá...",960000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
5,"Piso en calle Cristo del Calvario, Arenal - Mu...",910000,5 hab.,247 m²,sevilla,centro,arenal-museo-tetuan
6,"Piso en calle Méndez Núñez, Arenal - Museo - T...",670000,2 hab.,85 m²,sevilla,centro,arenal-museo-tetuan
7,"Dúplex en calle radio sevilla, Arenal - Museo ...",418000,3 hab.,109 m²,sevilla,centro,arenal-museo-tetuan
8,"Piso en calle Albareda, Arenal - Museo - Tetuá...",540000,3 hab.,125 m²,sevilla,centro,arenal-museo-tetuan
9,"Ático en Arenal - Museo - Tetuán, Sevilla",420000,2 hab.,79 m²,sevilla,centro,arenal-museo-tetuan
10,"Piso en Arenal - Museo - Tetuán, Sevilla",1250000,5 hab.,352 m²,sevilla,centro,arenal-museo-tetuan
11,"Piso en Arenal - Museo - Tetuán, Sevilla",609000,4 hab.,144 m²,sevilla,centro,arenal-museo-tetuan
12,"Piso en calle Pastor y Landero, Arenal - Museo...",1200000,5 hab.,219 m²,sevilla,centro,arenal-museo-tetuan
13,"Piso en calle Moratín, Arenal - Museo - Tetuán...",750000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
14,"Ático en Arenal - Museo - Tetuán, Sevilla",790000,3 hab.,125 m²,sevilla,centro,arenal-museo-tetuan
15,"Piso en Arenal - Museo - Tetuán, Sevilla",1250000,5 hab.,283 m²,sevilla,centro,arenal-museo-tetuan
16,"Piso en calle Arjona, 5, Arenal - Museo - Tetu...",460000,5 hab.,154 m²,sevilla,centro,arenal-museo-tetuan
17,"Piso en Alfonso XII, Arenal - Museo - Tetuán, ...",360000,1 hab.,85 m²,sevilla,centro,arenal-museo-tetuan
18,"Piso en calle Galera, 12, Arenal - Museo - Tet...",236000,1 hab.,40 m²,sevilla,centro,arenal-museo-tetuan
19,"Piso en calle Arjona, Arenal - Museo - Tetuán,...",520000,3 hab.,144 m²,sevilla,centro,arenal-museo-tetuan
20,"Piso en Arenal - Museo - Tetuán, Sevilla",475000,3 hab.,122 m²,sevilla,centro,arenal-museo-tetuan
21,"Estudio en Arenal - Museo - Tetuán, Sevilla",185000,49 m²,Bajo exterior con ascensor,sevilla,centro,arenal-museo-tetuan
22,Casa o chalet independiente en Arenal - Museo ...,890000,5 hab.,179 m²,sevilla,centro,arenal-museo-tetuan
23,"Piso en calle Gamazo, Arenal - Museo - Tetuán,...",390000,2 hab.,94 m²,sevilla,centro,arenal-museo-tetuan
24,"Piso en calle Sauceda, 7, Arenal - Museo - Tet...",298000,1 hab.,61 m²,sevilla,centro,arenal-museo-tetuan
25,"Piso en calle Arfe, Arenal - Museo - Tetuán, S...",260000,1 hab.,65 m²,sevilla,centro,arenal-museo-tetuan
26,"Piso en calle Zaragoza, 2, Arenal - Museo - Te...",850000,2 hab.,191 m²,sevilla,centro,arenal-museo-tetuan
27,Casa o chalet independiente en Arenal - Museo ...,2500000,5 hab.,626 m²,sevilla,centro,arenal-museo-tetuan
28,Casa o chalet independiente en Arenal - Museo ...,832000,10 hab.,325 m²,sevilla,centro,arenal-museo-tetuan
29,"Piso en calle Julio César, Arenal - Museo - Te...",1250000,5 hab.,267 m²,sevilla,centro,arenal-museo-tetuan
30,"Piso en calle Pacheco y Núñez de Prado, 37, Al...",166000,1 hab.,36 m²,sevilla,centro,alameda
31,"Ático en alameda de Hércules, Alameda, Sevilla",455000,2 hab.,101 m²,sevilla,centro,alameda
32,"Dúplex en calle Conde de Torrejón, Alameda, Se...",719000,3 hab.,194 m²,sevilla,centro,alameda
33,"Piso en Peral, Alameda, Sevilla",295000,2 hab.,92 m²,sevilla,centro,alameda
34,"Piso en Alameda, Sevilla",405000,3 hab.,104 m²,sevilla,centro,alameda
35,"Piso en calle Santa Bárbara, Alameda, Sevilla",320000,4 hab.,98 m²,sevilla,centro,alameda
36,"Piso en Alameda, Sevilla",330000,3 hab.,90 m²,sevilla,centro,alameda
37,"Dúplex en calle Calatrava, Alameda, Sevilla",550000,4 hab.,140 m²,sevilla,centro,alameda
38,"Casa o chalet independiente en Alameda, Sevilla",640000,5 hab.,246 m²,sevilla,centro,alameda
39,"Piso en Alameda, Sevilla",299000,2 hab.,101 m²,sevilla,centro,alameda
40,"Piso en Alameda, Sevilla",259000,2 hab.,90 m²,sevilla,centro,alameda
41,"Dúplex en Jesús del Gran Poder, Alameda, Sevilla",449000,3 hab.,115 m²,sevilla,centro,alameda
42,"Chalet adosado en calle Faustino Álvarez, Alam...",775000,5 hab.,250 m²,sevilla,centro,alameda
43,"Ático en Alameda, Sevilla",249000,1 hab.,76 m²,sevilla,centro,alameda
44,"Piso en Alameda, Sevilla",276345,2 hab.,72 m²,sevilla,centro,alameda
45,"Piso en Alameda, Sevilla",400000,2 hab.,90 m²,sevilla,centro,alameda
46,"Piso en pasaje Del Marqués de Esquivel, Alamed...",199000,2 hab.,78 m²,sevilla,centro,alameda
47,"Piso en Alameda, Sevilla",395000,2 hab.,87 m²,sevilla,centro,alameda
48,"Piso en calle Molino, Alameda, Sevilla",261000,4 hab.,136 m²,sevilla,centro,alameda
49,"Piso en calle Feria, Alameda, Sevilla",480000,3 hab.,109 m²,sevilla,centro,alameda
50,"Piso en calle Alberto Lista, Alameda, Sevilla",700000,1 hab.,63 m²,sevilla,centro,alameda
51,"Piso en calle Pacheco y Núñez de Prado, Alamed...",212000,2 hab.,48 m²,sevilla,centro,alameda
52,"Piso en Alameda, Sevilla",318000,2 hab.,81 m²,sevilla,centro,alameda
53,"Piso en Morgado, 16, Alameda, Sevilla",230000,1 hab.,68 m²,sevilla,centro,alameda
54,"Piso en calle Alberto Lista, Alameda, Sevilla",700000,3 hab.,222 m²,sevilla,centro,alameda
55,"Casa o chalet independiente en calle Peral, 35...",800000,5 hab.,242 m²,sevilla,centro,alameda
56,Casa o chalet independiente en calle Santa Ruf...,599000,3 hab.,153 m²,sevilla,centro,alameda
57,"Dúplex en calle Quintana, 21, Alameda, Sevilla",235000,2 hab.,70 m²,sevilla,centro,alameda
58,"Piso en calle Santa Bárbara, Alameda, Sevilla",320000,4 hab.,98 m²,sevilla,centro,alameda
59,"Dúplex en calle Bécquer, Alameda, Sevilla",285000,3 hab.,96 m²,sevilla,centro,alameda

In [12]:
h = {'hola':'carlota', 1:34}

In [13]:
h.keys()

dict_keys(['hola', 1])

In [14]:
def por_zonas_barrios (ciudad, zonas_barrios):
    
    lista_df = []
    
    for zona, barrios in zonas_barrios.items():
        
        df_zona = por_barrios (ciudad, zona, barrios)
        
        lista_df.append(df_zona)
    
    df_final = pd.concat(lista_df, ignore_index=True)
    
    return df_final

In [15]:
zonas_barrios = {'centro': ['arenal-museo-tetuan', 'alameda'], 
                 'triana': ['calle-betis-pages-del-corro']}

In [16]:
por_zonas_barrios('sevilla', zonas_barrios)

Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en calle General Polavieja, Arenal - Muse...",539000,3 hab.,147 m²,sevilla,centro,arenal-museo-tetuan
1,"Piso en calle O'Donnell, 34, Arenal - Museo - ...",740000,3 hab.,156 m²,sevilla,centro,arenal-museo-tetuan
2,"Piso en calle San Pablo, Arenal - Museo - Tetu...",740000,3 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
3,"Piso en calle San Pablo, Arenal - Museo - Tetu...",760000,3 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
4,"Piso en calle Albareda, Arenal - Museo - Tetuá...",960000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
...,...,...,...,...,...,...,...
85,"Piso en calle Castilla, Calle Betis - Pagés de...",168000,1 hab.,53 m²,sevilla,triana,calle-betis-pages-del-corro
86,"Piso en Calle Betis - Pagés del Corro, Sevilla",225000,1 hab.,55 m²,sevilla,triana,calle-betis-pages-del-corro
87,"Piso en plaza del Altozano, 1, Calle Betis - P...",230000,1 hab.,70 m²,sevilla,triana,calle-betis-pages-del-corro
88,"Ático en calle Pagés del Corro 95, 97, Calle B...",499000,2 hab.,103 m²,sevilla,triana,calle-betis-pages-del-corro
89,"Dúplex en calle Pagés del Corro 95, 97, Calle ...",499000,3 hab.,100 m²,sevilla,triana,calle-betis-pages-del-corro

In [17]:
def por_ciudades(ciudades_zonas): 
    
    lista_df_total = []
    
    for ciudad, zonas_barrios in ciudades_zonas.items():
        
        print(f"Extrayendo informacion de la ciudad: {ciudad}")
        
        df_ciudad = por_zonas_barrios(ciudad, zonas_barrios)
        
        lista_df_total.append(df_ciudad)
        
    df_final = pd.concat(lista_df_total, ignore_index=True)
    
    return df_final

In [18]:
ciudades_zonas = {'sevilla': {
    'centro': ['arenal-museo-tetuan', 'alameda'], 
                 'triana': ['calle-betis-pages-del-corro']}, 
    'madrid':{
        'centro': ['palacio', 'sol'],
        'barrio-de-salamanca': ['goya']}
}

In [19]:
df_madrid_sevilla = por_ciudades(ciudades_zonas)

Extrayendo informacion de la ciudad: sevilla
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'
Extrayendo informacion de la ciudad: madrid
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'
Advertencia: No se pudo obtener información de páginas adicionales. Error: sacar_datos_vivienda() missing 2 required positional arguments: 'zona' and 'barrio'

In [20]:
df_madrid_sevilla

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio
0,"Piso en calle General Polavieja, Arenal - Muse...",539000,3 hab.,147 m²,sevilla,centro,arenal-museo-tetuan
1,"Piso en calle O'Donnell, 34, Arenal - Museo - ...",740000,3 hab.,156 m²,sevilla,centro,arenal-museo-tetuan
2,"Piso en calle San Pablo, Arenal - Museo - Tetu...",740000,3 hab.,128 m²,sevilla,centro,arenal-museo-tetuan
3,"Piso en calle San Pablo, Arenal - Museo - Tetu...",760000,3 hab.,148 m²,sevilla,centro,arenal-museo-tetuan
4,"Piso en calle Albareda, Arenal - Museo - Tetuá...",960000,4 hab.,176 m²,sevilla,centro,arenal-museo-tetuan
...,...,...,...,...,...,...,...
175,"Piso en calle de Don Ramón de la Cruz, Goya, M...",1050000,2 hab.,117 m²,madrid,barrio-de-salamanca,goya
176,"Piso en calle de Alcalá, Goya, Madrid",1690000,3 hab.,165 m²,madrid,barrio-de-salamanca,goya
177,"Piso en calle de Goya, Goya, Madrid",3600000,5 hab.,379 m²,madrid,barrio-de-salamanca,goya
178,"Piso en calle de Ayala, Goya, Madrid",2630000,5 hab.,306 m²,madrid,barrio-de-salamanca,goya
179,"Piso en calle del Conde de Peñalver, Goya, Madrid",2350000,4 hab.,172 m²,madrid,barrio-de-salamanca,goya

In [21]:
df_madrid_sevilla['Numero habitaciones'].value_counts()

Numero habitaciones
3 hab.     58
2 hab.     49
1 hab.     24
4 hab.     22
5 hab.     18
8 hab.      2
49 m²       1
10 hab.     1
6 hab.      1
53 m²       1
32 m²       1
61 m²       1
54 m²       1
Name: count, dtype: int64

## 20 municipios mas poblados con el barrio mas poblado y sus 5 primeras zonas

In [23]:
municipios_top_20 = ["Madrid", "Barcelona", "Valencia", "Sevilla", "Zaragoza", "Málaga", "Murcia", "Palma", "Las Palmas de Gran Canaria", "Alacant/Alicante","Bilbao", "Córdoba", "Valladolid", "Vigo","L´Hospitalet de Llobregat","Gijón", "Vitoria-Gasteiz", "A Coruña", "Elche/Elx", "Granada"]

In [24]:
barrios_poblados = {
    "madrid": {"carabanchel": ['san-isidro', 'puerta-bonita', 'vista-alegre','buena-vista' 'abrantes']},
    "barcelona": {"eixample":['la-dreta-de-l-eixample','l-antiga-esquerra-de-l-eixample', 'la-nova-esquerra-de-l-eixample', 'la-sagrada-familia','sant-antoni']},
    "valencia": {'quatre-carreres': ['mont-olivet','malilla','en-corts', 'ciutat-de-les-arts-i-de-les-ciencies', 'la-punta']},
    "sevilla": {'sevilla-este': ['avenida-de-las-ciencias','alcalde-l-urunuela-palacio-de-congresos',  'emilio-lemos'], 
                'parque-alcosa': ['parque-alcosa'], 
                'torreblanca': ['torreblanca']},
    "zaragoza": {'delicias': ['barrio-del-ave','ciudad-jardin-parque-roma', 'mercado-san-valero', 'delicias', 'parque-delicias-la-bozada']},
    "malaga":{'centro': ['la-trinidad', 'centro-historico', 'perchel-sur-el-bulto', 'el-ejido']},
    "murcia": {'sur': ['el-carmen', 'la-purisima-barriomar']},
    "palma": {'las-avenidas': ['pere-garau']},
    "Las Palmas de Gran Canaria": ["Triana", "Vegueta", "Las Canteras"],
    "Alicante": ["Centro", "San Blas", "Albufereta"],
    "Bilbao": ["Abando", "Deusto", "Bilbo Zaharra"],
    "Córdoba": ["Centro", "Noroeste", "Sur"],
    "Valladolid": ["Centro", "Parquesol", "La Victoria"],
    "Vigo": ["Centro", "Teis", "Bouzas"],
    "L'Hospitalet de Llobregat": ["Centre", "Collblanc", "Santa Eulàlia"],
    "Gijón": ["Centro", "Viesques", "El Llano"],
    "Vitoria-Gasteiz": ["Centro", "Adurtzabal", "San Martín"],
    "A Coruña": ["Centro", "Ensanche", "Ronda de Outeiro"],
    "Elche/Elx": ["Centro", "Altabix", "Torreta"],
    "Granada": ["Centro", "Ronda", "Zaidín"],
}