In [1]:
import pandas as pd
from utils import cleaning_functions as f

# 1. Carga de datos **vivienda**

In [2]:
df_ciudades = pd.read_csv('viviendas_idealista.csv', sep = ";")

In [3]:
df_ciudades['Regimen'] = 'Compra'

In [4]:
df_ciudades

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
5561,"Piso en avenida de América, 29, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5562,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5563,"Dúplex en avenida Salvador Allende, Zaidín, Gr...",210000,2 hab.,76 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5564,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5565,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra

In [5]:
df_alquiler = pd.read_csv('viviendas_idealista_alquiler.csv', sep =";")

In [6]:
df_alquiler1 = pd.read_csv('viviendas_idealista_alquiler1.csv', sep =";")

In [7]:
df_alquiler2 = pd.read_csv('viviendas_idealista_alquiler2.csv', sep =";")

In [8]:
df_alquiler3 = pd.read_csv('viviendas_idealista_alquiler3.csv', sep =";")

In [9]:
df_alquiler4 = pd.read_csv('viviendas_idealista_alquiler4.csv', sep =";")

In [10]:
df_alquiler5 = pd.read_csv('viviendas_idealista_alquiler5.csv', sep =";")

In [11]:
df_ciudades1 = pd.concat([df_ciudades, df_alquiler, df_alquiler1, df_alquiler2, df_alquiler3, df_alquiler4, df_alquiler5])

In [12]:
df_ciudades1

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3 hab.,98 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3 hab.,100 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2 hab.,85 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo interior con ascensor,Alquiler

In [13]:
df_ciudades1

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3 hab.,98 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3 hab.,100 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2 hab.,85 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo interior con ascensor,Alquiler

In [14]:
df_ciudades1['Garaje'].value_counts()

Garaje
No                       6324
Garaje incluido          2669
Garaje opc. 100 €/mes      69
Garaje opc. 20.000 €       39
Garaje opc. 30.000 €       29
                         ...
Garaje opc. 17.000 €        1
Garaje opc. 15 €            1
Garaje opc. 12.000 €        1
Garaje opc. 26.000 €        1
Garaje opc. 450 €/mes       1
Name: count, Length: 66, dtype: int64

## Limpiar las columnas `Ciudad`, `Zona` y `Barrio`

In [15]:
df_ciudades1 = f.limpiar_localizaciones(df_ciudades1)

In [16]:
df_ciudades1.columns

Index(['Vivienda', 'Precio', 'Numero habitaciones', 'Metros cuadrados',
       'Ciudad', 'Zona', 'Barrio', 'Garaje', 'Descripcion', 'Regimen'],
      dtype='object')

In [17]:
df_ciudades1 = f.cambiar_nombre_columnas(df_ciudades1)

In [18]:
df_ciudades1.columns

Index(['Vivienda', 'Precio (€)', 'Numero habitaciones',
       'Metros cuadrados (m²)', 'Ciudad', 'Zona', 'Barrio', 'Garaje',
       'Descripcion', 'Regimen'],
      dtype='object')

In [19]:
df_ciudades1['Numero habitaciones'].unique()

array(['2 hab.', '3 hab.', '1 hab.', '4 hab.', 'no definido', '6 hab.',
       '5 hab.', '7 hab.', '8 hab.', '9 hab.', '10 hab.', '11 hab.',
       '12 hab.', '24 hab.', '21 hab.', '14 hab.', '18 hab.', '16 hab.',
       '20 hab.', '40 hab.', '13 hab.'], dtype=object)

In [20]:
df_ciudades1['Numero habitaciones'].value_counts()

Numero habitaciones
3 hab.         3628
2 hab.         2710
4 hab.         1210
1 hab.         1136
no definido     261
5 hab.          260
6 hab.           89
9 hab.           41
7 hab.           29
8 hab.           19
10 hab.          10
14 hab.           7
12 hab.           5
20 hab.           5
13 hab.           4
16 hab.           3
11 hab.           2
18 hab.           2
24 hab.           1
21 hab.           1
40 hab.           1
Name: count, dtype: int64

In [21]:
import cleaning_functions as f

In [22]:
df_ciudades1[df_ciudades1['Numero habitaciones']=='no definido']

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
34,Estudio en calle Nuestra Señora de la Esperanz...,163000,no definido,47 m²,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior con ascensor,Compra
156,"Ático en Dátil, 21, Puerta Bonita, Madrid",237896,no definido,45 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 4ª exterior con ascensor,Compra
158,"Ático en Dátil, 21, Puerta Bonita, Madrid",241532,no definido,46 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 4ª exterior con ascensor,Compra
195,"Estudio en calle de Pedro Domingo, Puerta Boni...",107000,no definido,34 m²,Madrid,Carabanchel,Puerta Bonita,No,Bajo interior sin ascensor,Compra
201,"Estudio en paseo Castellanos, Puerta Bonita, M...",144000,no definido,73 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 5ª,Compra
...,...,...,...,...,...,...,...,...,...,...
1624,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 4ª exterior con ascensor,Alquiler
1627,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",600,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 3ª exterior con ascensor,Alquiler
1633,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,35 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 3ª exterior con ascensor,Alquiler
1634,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 2ª exterior con ascensor,Alquiler
1642,"Estudio en administrador Gutiérrez Anaya, 5, A...",550,no definido,32 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,No,Planta 1ª exterior con ascensor,Alquiler

In [23]:
df_ciudades1 = f.division_descripcion(df_ciudades1)

c:\Users\Carlota\OneDrive\Escritorio\Proyect-1\data\cleaning_functions.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Indeterminado' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[no_tiene_mask, ['Planta', 'Interior/Exterior', 'Ascensor']] = 'Indeterminado'

In [24]:
df_ciudades1['Metros cuadrados (m²)'].str.strip()

0        65 m²
1        79 m²
2        88 m²
3        67 m²
4        73 m²
         ...
1662     98 m²
1663     80 m²
1664    100 m²
1665     80 m²
1666     85 m²
Name: Metros cuadrados (m²), Length: 9424, dtype: object

In [25]:
df_ciudades1 = f.limpiar_num(df_ciudades1)

In [26]:
df_ciudades1['Metros cuadrados (m²)'].unique()

array([ 65.   ,  79.   ,  88.   ,  67.   ,  73.   , 107.   ,  60.   ,
       109.   , 117.   ,  58.   , 120.   , 105.   , 112.   ,  56.   ,
       140.   , 106.   , 270.   , 407.   ,  87.   , 104.   ,  57.   ,
       100.   ,  71.   ,  47.   ,  53.   ,  74.   , 130.   ,  84.   ,
        54.   ,  72.   ,  91.   ,  70.   ,  55.   , 113.   ,  68.   ,
       103.   ,  90.   ,  95.   ,  75.   ,  80.   ,  78.   ,  85.   ,
        99.   , 272.   , 132.   , 111.   , 200.   ,  40.   ,  98.   ,
        69.   ,  52.   , 178.   ,  89.   ,  66.   ,  86.   ,  44.   ,
        94.   ,  77.   , 210.   , 136.   , 101.   ,  83.   ,  30.   ,
        64.   , 127.   , 102.   , 171.   , 149.   , 121.   ,  92.   ,
        97.   ,  45.   ,  61.   ,  46.   ,  63.   ,  62.   , 115.   ,
        50.   ,  59.   ,  34.   , 144.   ,  27.   , 219.   ,  82.   ,
        96.   ,  43.   ,  76.   , 110.   , 153.   , 337.   , 119.   ,
       170.   ,  51.   ,  35.   , 164.   ,  48.   ,  93.   , 150.   ,
       139.   , 205.   ,  49.   ,  25.   ,  81.   ,  38.   ,  39.   ,
       135.   , 126.   , 122.   ,  28.   , 287.   , 129.   , 226.   ,
       253.   , 283.   , 197.   , 175.   , 243.   , 213.   , 220.   ,
       174.   , 441.   , 222.   , 185.   , 191.   , 189.   , 116.   ,
       167.   , 228.   , 229.   , 199.   , 187.   , 246.   , 161.   ,
       302.   , 221.   , 181.   , 147.   , 165.   , 180.   , 215.   ,
       275.   , 138.   , 356.   , 214.   , 409.   , 700.   , 227.   ,
       141.   , 182.   , 142.   , 131.   , 195.   , 224.   , 239.   ,
       183.   , 202.   , 155.   , 248.   , 156.   , 134.   , 169.   ,
       124.   , 254.   , 290.   , 269.   , 133.   , 163.   , 154.   ,
       232.   , 218.   , 273.   , 172.   , 256.   , 176.   , 159.   ,
       137.   , 265.   , 300.   ,  33.   , 128.   , 166.   , 293.   ,
       259.   , 168.   , 151.   , 162.   , 123.   , 160.   , 204.   ,
       284.   , 350.   , 328.   , 145.   , 282.   , 334.   , 203.   ,
       108.   , 206.   , 125.   , 212.   ,  41.   , 190.   , 470.   ,
       515.   , 194.   , 240.   , 118.   , 295.   , 268.   , 158.   ,
       177.   , 114.   , 299.   , 157.   , 249.   , 143.   , 420.   ,
       421.   , 250.   , 236.   , 207.   , 184.   , 173.   , 186.   ,
       280.   , 370.   , 230.   ,  19.   ,   1.271, 148.   , 353.   ,
       277.   , 575.   , 252.   , 146.   , 192.   , 152.   , 193.   ,
       225.   , 376.   , 255.   , 234.   , 548.   , 294.   , 235.   ,
       209.   , 238.   , 241.   , 310.   , 308.   , 330.   , 201.   ,
       264.   , 380.   , 414.   , 392.   , 211.   , 453.   ,  23.   ,
       179.   , 257.   , 408.   , 198.   , 357.   , 331.   , 510.   ,
         1.48 , 233.   , 542.   , 500.   ,   1.735, 850.   , 842.   ,
       378.   , 953.   , 650.   ,   1.205, 463.   , 643.   , 679.   ,
       488.   , 612.   , 508.   , 498.   , 298.   , 347.   , 503.   ,
       292.   , 260.   , 396.   , 374.   , 332.   ,   1.1  , 501.   ,
       490.   , 335.   , 580.   , 400.   , 360.   , 604.   , 620.   ,
       908.   , 406.   , 506.   , 600.   , 690.   , 638.   ,   1.126,
       464.   , 530.   , 188.   , 451.   , 461.   , 342.   , 550.   ,
       390.   , 349.   , 285.   , 622.   , 317.   , 546.   ,  26.   ,
       217.   ,  37.   , 208.   ,  42.   , 262.   , 312.   , 315.   ,
       388.   , 307.   , 375.   , 320.   , 435.   , 429.   , 583.   ,
       267.   , 223.   , 524.   , 426.   , 297.   , 291.   ,   1.6  ,
       261.   , 800.   , 288.   ,   1.   ,   1.7  ,  27.789,   4.   ,
       468.   , 289.   , 430.   , 433.   , 446.   , 355.   , 531.   ,
       286.   ,  36.   ,  22.   , 425.   , 258.   ,  24.   , 576.   ,
        29.   ,  32.   , 555.   ,  31.   ,  16.   ])

In [27]:
df_ciudades1 = f.no_definido_habitaciones(df_ciudades1)

In [28]:
df_ciudades1['Numero habitaciones'].value_counts()

Numero habitaciones
3     3628
2     2710
4     1210
1     1136
5      260
2      173
6       89
9       41
3       38
1       33
7       29
8       19
4       11
10      10
14       7
5        6
12       5
20       5
13       4
16       3
11       2
18       2
24       1
21       1
40       1
Name: count, dtype: int64

In [29]:
df_ciudades1['Regimen'].unique()

array(['Compra', 'Alquiler'], dtype=object)

In [30]:
df_ciudades1['Regimen'].value_counts()

Regimen
Compra      5566
Alquiler    3858
Name: count, dtype: int64

## Eliminar duplicados

In [31]:
df_ciudades1.duplicated().sum()

3251

In [32]:
df_ciudades1[df_ciudades1.duplicated()]

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen,Planta,Interior/Exterior,Ascensor
18,"Piso en calle Paulina Odiaga, San Isidro, Madrid",220000,2,60.0,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior sin ascensor,Compra,2ª,Exterior,No
26,"Piso en alto de San Isidro, San Isidro, Madrid",450000,3,140.0,Madrid,Carabanchel,San Isidro,Garaje incluido,Planta 3ª exterior con ascensor,Compra,3ª,Exterior,Si
28,"Piso en calle de Peñafiel, San Isidro, Madrid",350000,3,106.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
29,"Piso en calle de Peñafiel, San Isidro, Madrid",350000,3,106.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
60,"Ático en calle Rascón, 33, San Isidro, Madrid",409000,2,95.0,Madrid,Carabanchel,San Isidro,Garaje incluido,Planta 4ª exterior con ascensor,Compra,4ª,Exterior,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3,98.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3,100.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2,85.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo interior con ascensor,Alquiler,Bajo,Interior,Si

In [33]:
df_ciudades1 = df_ciudades1.drop_duplicates()

In [34]:
df_ciudades1[df_ciudades1.duplicated()]

Empty DataFrame
Columns: [Vivienda, Precio (€), Numero habitaciones, Metros cuadrados (m²), Ciudad, Zona, Barrio, Garaje, Descripcion, Regimen, Planta, Interior/Exterior, Ascensor]
Index: []

In [41]:
df_ciudades1

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen,Planta,Interior/Exterior,Ascensor
0,"Piso en San Isidro, Madrid",245000,2,65.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior con ascensor,Compra,1ª,Exterior,Si
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3,79.0,Madrid,Carabanchel,San Isidro,No,Bajo exterior con ascensor,Compra,Bajo,Exterior,Si
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1,88.0,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior con ascensor,Compra,2ª,Exterior,Si
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3,67.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior con ascensor,Compra,1ª,Exterior,Si
4,"Piso en San Isidro, Madrid",250000,2,73.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3,98.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1645,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1646,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3,100.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1647,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1648,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2,85.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo interior con ascensor,Alquiler,Bajo,Interior,Si

## Unificar el nombre de la ciudad

In [35]:
ciudades_df = list(set(df_ciudades1['Ciudad'].to_list()))

In [36]:
municipios_top_20 = ["Madrid", "Barcelona", "Valencia", "Sevilla", "Zaragoza", "Málaga", "Murcia", "Palma", "Las Palmas de Gran Canaria", "Alacant/Alicante","Bilbao", "Córdoba", "Valladolid", "Vigo","L´Hospitalet de Llobregat","Gijón", "Vitoria-Gasteiz", "A Coruña", "Elche/Elx", "Granada"]

In [37]:
f.comprobar(df_ciudades1)

Palma De Mallorca
Malaga
Hospitalet De Llobregat
Las Palmas De Gran Canaria
Cordoba
Vitoria Gasteiz
Gijon
Alicante Alacant
Elche Elx
A Coruna

In [38]:
df_ciudades1 = f.unificar_ciudades(df_ciudades1)

In [39]:
f.comprobar(df_ciudades1)

## Datos nulos

In [ ]:
df_ciudades1.isnull().sum() # no hay valores vacios

Vivienda                 0
Precio (€)               0
Numero habitaciones      0
Metros cuadrados (m²)    0
Ciudad                   0
Zona                     0
Barrio                   0
Garaje                   0
Descripcion              0
Regimen                  0
Planta                   0
Interior/Exterior        0
Ascensor                 0
dtype: int64

# 2. Añadir datos adicionales

In [ ]:
# df....

In [ ]:
#df_final = pd.merge(df_ciudades1, df..., on="Ciudad", how ="inner")

# 3.  Exportar datos limpios

In [40]:
df_ciudades1.to_csv("datos_limpios.csv", sep =";")