In [7]:

import pandas as pd
import cleaning_functions as f

# 1. Carga de datos **vivienda**

In [8]:
df_ciudades = pd.read_csv('../files/viviendas_idealista.csv', sep = ";")

In [9]:
df_ciudades['Regimen'] = 'Compra'

In [10]:
df_ciudades

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
5561,"Piso en avenida de América, 29, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5562,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5563,"Dúplex en avenida Salvador Allende, Zaidín, Gr...",210000,2 hab.,76 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5564,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra
5565,"Piso en avenida de América, Zaidín, Granada",149900,3 hab.,65 m²,granada,zaidin,zaidin,No,Planta 5ª exterior con ascensor,Compra

In [12]:
df_alquiler = pd.read_csv('../files/viviendas_idealista_alquiler.csv', sep =";")

In [13]:
df_alquiler1 = pd.read_csv('../files/viviendas_idealista_alquiler1.csv', sep =";")

In [14]:
df_alquiler2 = pd.read_csv('../files/viviendas_idealista_alquiler2.csv', sep =";")

In [15]:
df_alquiler3 = pd.read_csv('../files/viviendas_idealista_alquiler3.csv', sep =";")

In [16]:
df_alquiler4 = pd.read_csv('../files/viviendas_idealista_alquiler4.csv', sep =";")

In [17]:
df_alquiler5 = pd.read_csv('../files/viviendas_idealista_alquiler5.csv', sep =";")

In [18]:
df_ciudades1 = pd.concat([df_ciudades, df_alquiler, df_alquiler1, df_alquiler2, df_alquiler3, df_alquiler4, df_alquiler5])

In [19]:
df_ciudades1

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3 hab.,98 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3 hab.,100 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2 hab.,85 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo interior con ascensor,Alquiler

In [20]:
df_ciudades1

,Vivienda,Precio,Numero habitaciones,Metros cuadrados,Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
0,"Piso en San Isidro, Madrid",245000,2 hab.,65 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3 hab.,79 m²,madrid,carabanchel,san-isidro,No,Bajo exterior con ascensor,Compra
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1 hab.,88 m²,madrid,carabanchel,san-isidro,No,Planta 2ª exterior con ascensor,Compra
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3 hab.,67 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior con ascensor,Compra
4,"Piso en San Isidro, Madrid",250000,2 hab.,73 m²,madrid,carabanchel,san-isidro,No,Planta 1ª exterior sin ascensor,Compra
...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3 hab.,98 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3 hab.,100 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2 hab.,80 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2 hab.,85 m²,sevilla,sevilla-este,emilio-lemos,Garaje incluido,Bajo interior con ascensor,Alquiler

In [21]:
df_ciudades1['Garaje'].value_counts()

Garaje
No                       6324
Garaje incluido          2669
Garaje opc. 100 €/mes      69
Garaje opc. 20.000 €       39
Garaje opc. 30.000 €       29
                         ...
Garaje opc. 17.000 €        1
Garaje opc. 15 €            1
Garaje opc. 12.000 €        1
Garaje opc. 26.000 €        1
Garaje opc. 450 €/mes       1
Name: count, Length: 66, dtype: int64

## Limpiar las columnas `Ciudad`, `Zona` y `Barrio`

In [22]:
df_ciudades1 = f.limpiar_localizaciones(df_ciudades1)

In [23]:
df_ciudades1.columns

Index(['Vivienda', 'Precio', 'Numero habitaciones', 'Metros cuadrados',
       'Ciudad', 'Zona', 'Barrio', 'Garaje', 'Descripcion', 'Regimen'],
      dtype='object')

In [24]:
df_ciudades1 = f.cambiar_nombre_columnas(df_ciudades1)

In [25]:
df_ciudades1.columns

Index(['Vivienda', 'Precio (€)', 'Numero habitaciones',
       'Metros cuadrados (m²)', 'Ciudad', 'Zona', 'Barrio', 'Garaje',
       'Descripcion', 'Regimen'],
      dtype='object')

In [26]:
df_ciudades1['Numero habitaciones'].unique()

array(['2 hab.', '3 hab.', '1 hab.', '4 hab.', 'no definido', '6 hab.',
       '5 hab.', '7 hab.', '8 hab.', '9 hab.', '10 hab.', '11 hab.',
       '12 hab.', '24 hab.', '21 hab.', '14 hab.', '18 hab.', '16 hab.',
       '20 hab.', '40 hab.', '13 hab.'], dtype=object)

In [27]:
df_ciudades1['Numero habitaciones'].value_counts()

Numero habitaciones
3 hab.         3628
2 hab.         2710
4 hab.         1210
1 hab.         1136
no definido     261
5 hab.          260
6 hab.           89
9 hab.           41
7 hab.           29
8 hab.           19
10 hab.          10
14 hab.           7
12 hab.           5
20 hab.           5
13 hab.           4
16 hab.           3
11 hab.           2
18 hab.           2
24 hab.           1
21 hab.           1
40 hab.           1
Name: count, dtype: int64

In [29]:
df_ciudades1[df_ciudades1['Numero habitaciones']=='no definido']

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen
34,Estudio en calle Nuestra Señora de la Esperanz...,163000,no definido,47 m²,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior con ascensor,Compra
156,"Ático en Dátil, 21, Puerta Bonita, Madrid",237896,no definido,45 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 4ª exterior con ascensor,Compra
158,"Ático en Dátil, 21, Puerta Bonita, Madrid",241532,no definido,46 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 4ª exterior con ascensor,Compra
195,"Estudio en calle de Pedro Domingo, Puerta Boni...",107000,no definido,34 m²,Madrid,Carabanchel,Puerta Bonita,No,Bajo interior sin ascensor,Compra
201,"Estudio en paseo Castellanos, Puerta Bonita, M...",144000,no definido,73 m²,Madrid,Carabanchel,Puerta Bonita,No,Planta 5ª,Compra
...,...,...,...,...,...,...,...,...,...,...
1624,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 4ª exterior con ascensor,Alquiler
1627,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",600,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 3ª exterior con ascensor,Alquiler
1633,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,35 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 3ª exterior con ascensor,Alquiler
1634,"Estudio en avenida Alcalde Luis Uruñuela, Alca...",550,no definido,40 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,Garaje incluido,Planta 2ª exterior con ascensor,Alquiler
1642,"Estudio en administrador Gutiérrez Anaya, 5, A...",550,no definido,32 m²,Sevilla,Sevilla Este,Alcalde L Urunuela Palacio De Congresos,No,Planta 1ª exterior con ascensor,Alquiler

In [30]:
df_ciudades1 = f.division_descripcion(df_ciudades1)

c:\Users\Carlota\OneDrive\Escritorio\Proyect-1\src\cleaning_functions.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Indeterminado' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[no_tiene_mask, ['Planta', 'Interior/Exterior', 'Ascensor']] = 'Indeterminado'

In [31]:
df_ciudades1['Metros cuadrados (m²)'].str.strip()

0        65 m²
1        79 m²
2        88 m²
3        67 m²
4        73 m²
         ...
1662     98 m²
1663     80 m²
1664    100 m²
1665     80 m²
1666     85 m²
Name: Metros cuadrados (m²), Length: 9424, dtype: object

In [32]:
df_ciudades1 = f.limpiar_num(df_ciudades1)

In [33]:
df_ciudades1['Metros cuadrados (m²)'].unique()

array([ 65.   ,  79.   ,  88.   ,  67.   ,  73.   , 107.   ,  60.   ,
       109.   , 117.   ,  58.   , 120.   , 105.   , 112.   ,  56.   ,
       140.   , 106.   , 270.   , 407.   ,  87.   , 104.   ,  57.   ,
       100.   ,  71.   ,  47.   ,  53.   ,  74.   , 130.   ,  84.   ,
        54.   ,  72.   ,  91.   ,  70.   ,  55.   , 113.   ,  68.   ,
       103.   ,  90.   ,  95.   ,  75.   ,  80.   ,  78.   ,  85.   ,
        99.   , 272.   , 132.   , 111.   , 200.   ,  40.   ,  98.   ,
        69.   ,  52.   , 178.   ,  89.   ,  66.   ,  86.   ,  44.   ,
        94.   ,  77.   , 210.   , 136.   , 101.   ,  83.   ,  30.   ,
        64.   , 127.   , 102.   , 171.   , 149.   , 121.   ,  92.   ,
        97.   ,  45.   ,  61.   ,  46.   ,  63.   ,  62.   , 115.   ,
        50.   ,  59.   ,  34.   , 144.   ,  27.   , 219.   ,  82.   ,
        96.   ,  43.   ,  76.   , 110.   , 153.   , 337.   , 119.   ,
       170.   ,  51.   ,  35.   , 164.   ,  48.   ,  93.   , 150.   ,
       139.   , 205.   ,  49.   ,  25.   ,  81.   ,  38.   ,  39.   ,
       135.   , 126.   , 122.   ,  28.   , 287.   , 129.   , 226.   ,
       253.   , 283.   , 197.   , 175.   , 243.   , 213.   , 220.   ,
       174.   , 441.   , 222.   , 185.   , 191.   , 189.   , 116.   ,
       167.   , 228.   , 229.   , 199.   , 187.   , 246.   , 161.   ,
       302.   , 221.   , 181.   , 147.   , 165.   , 180.   , 215.   ,
       275.   , 138.   , 356.   , 214.   , 409.   , 700.   , 227.   ,
       141.   , 182.   , 142.   , 131.   , 195.   , 224.   , 239.   ,
       183.   , 202.   , 155.   , 248.   , 156.   , 134.   , 169.   ,
       124.   , 254.   , 290.   , 269.   , 133.   , 163.   , 154.   ,
       232.   , 218.   , 273.   , 172.   , 256.   , 176.   , 159.   ,
       137.   , 265.   , 300.   ,  33.   , 128.   , 166.   , 293.   ,
       259.   , 168.   , 151.   , 162.   , 123.   , 160.   , 204.   ,
       284.   , 350.   , 328.   , 145.   , 282.   , 334.   , 203.   ,
       108.   , 206.   , 125.   , 212.   ,  41.   , 190.   , 470.   ,
       515.   , 194.   , 240.   , 118.   , 295.   , 268.   , 158.   ,
       177.   , 114.   , 299.   , 157.   , 249.   , 143.   , 420.   ,
       421.   , 250.   , 236.   , 207.   , 184.   , 173.   , 186.   ,
       280.   , 370.   , 230.   ,  19.   ,   1.271, 148.   , 353.   ,
       277.   , 575.   , 252.   , 146.   , 192.   , 152.   , 193.   ,
       225.   , 376.   , 255.   , 234.   , 548.   , 294.   , 235.   ,
       209.   , 238.   , 241.   , 310.   , 308.   , 330.   , 201.   ,
       264.   , 380.   , 414.   , 392.   , 211.   , 453.   ,  23.   ,
       179.   , 257.   , 408.   , 198.   , 357.   , 331.   , 510.   ,
         1.48 , 233.   , 542.   , 500.   ,   1.735, 850.   , 842.   ,
       378.   , 953.   , 650.   ,   1.205, 463.   , 643.   , 679.   ,
       488.   , 612.   , 508.   , 498.   , 298.   , 347.   , 503.   ,
       292.   , 260.   , 396.   , 374.   , 332.   ,   1.1  , 501.   ,
       490.   , 335.   , 580.   , 400.   , 360.   , 604.   , 620.   ,
       908.   , 406.   , 506.   , 600.   , 690.   , 638.   ,   1.126,
       464.   , 530.   , 188.   , 451.   , 461.   , 342.   , 550.   ,
       390.   , 349.   , 285.   , 622.   , 317.   , 546.   ,  26.   ,
       217.   ,  37.   , 208.   ,  42.   , 262.   , 312.   , 315.   ,
       388.   , 307.   , 375.   , 320.   , 435.   , 429.   , 583.   ,
       267.   , 223.   , 524.   , 426.   , 297.   , 291.   ,   1.6  ,
       261.   , 800.   , 288.   ,   1.   ,   1.7  ,  27.789,   4.   ,
       468.   , 289.   , 430.   , 433.   , 446.   , 355.   , 531.   ,
       286.   ,  36.   ,  22.   , 425.   , 258.   ,  24.   , 576.   ,
        29.   ,  32.   , 555.   ,  31.   ,  16.   ])

In [34]:
df_ciudades1 = f.no_definido_habitaciones(df_ciudades1)

In [35]:
df_ciudades1['Numero habitaciones'].value_counts()

Numero habitaciones
3     3628
2     2710
4     1210
1     1136
5      260
2      173
6       89
9       41
3       38
1       33
7       29
8       19
4       11
10      10
14       7
5        6
12       5
20       5
13       4
16       3
11       2
18       2
24       1
21       1
40       1
Name: count, dtype: int64

In [36]:
df_ciudades1['Regimen'].unique()

array(['Compra', 'Alquiler'], dtype=object)

In [37]:
df_ciudades1['Regimen'].value_counts()

Regimen
Compra      5566
Alquiler    3858
Name: count, dtype: int64

## Eliminar duplicados

In [38]:
df_ciudades1.duplicated().sum()

3251

In [39]:
df_ciudades1[df_ciudades1.duplicated()]

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen,Planta,Interior/Exterior,Ascensor
18,"Piso en calle Paulina Odiaga, San Isidro, Madrid",220000,2,60.0,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior sin ascensor,Compra,2ª,Exterior,No
26,"Piso en alto de San Isidro, San Isidro, Madrid",450000,3,140.0,Madrid,Carabanchel,San Isidro,Garaje incluido,Planta 3ª exterior con ascensor,Compra,3ª,Exterior,Si
28,"Piso en calle de Peñafiel, San Isidro, Madrid",350000,3,106.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
29,"Piso en calle de Peñafiel, San Isidro, Madrid",350000,3,106.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
60,"Ático en calle Rascón, 33, San Isidro, Madrid",409000,2,95.0,Madrid,Carabanchel,San Isidro,Garaje incluido,Planta 4ª exterior con ascensor,Compra,4ª,Exterior,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1662,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3,98.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1663,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1664,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3,100.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1665,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1666,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2,85.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo interior con ascensor,Alquiler,Bajo,Interior,Si

In [40]:
df_ciudades1 = df_ciudades1.drop_duplicates()

In [41]:
df_ciudades1[df_ciudades1.duplicated()]

Empty DataFrame
Columns: [Vivienda, Precio (€), Numero habitaciones, Metros cuadrados (m²), Ciudad, Zona, Barrio, Garaje, Descripcion, Regimen, Planta, Interior/Exterior, Ascensor]
Index: []

In [42]:
df_ciudades1

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Ciudad,Zona,Barrio,Garaje,Descripcion,Regimen,Planta,Interior/Exterior,Ascensor
0,"Piso en San Isidro, Madrid",245000,2,65.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior con ascensor,Compra,1ª,Exterior,Si
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3,79.0,Madrid,Carabanchel,San Isidro,No,Bajo exterior con ascensor,Compra,Bajo,Exterior,Si
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1,88.0,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior con ascensor,Compra,2ª,Exterior,Si
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3,67.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior con ascensor,Compra,1ª,Exterior,Si
4,"Piso en San Isidro, Madrid",250000,2,73.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,1ª,Exterior,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,"Piso en Laos, 5, Emilio Lemos, Sevilla",980,3,98.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1645,"Piso en Laos, 5, Emilio Lemos, Sevilla",905,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1646,"Piso en Laos, 5, Emilio Lemos, Sevilla",990,3,100.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Planta 1ª exterior con ascensor,Alquiler,1ª,Exterior,Si
1647,"Piso en Laos, 5, Emilio Lemos, Sevilla",855,2,80.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo exterior con ascensor,Alquiler,Bajo,Exterior,Si
1648,"Piso en calle Pakistán, 5, Emilio Lemos, Sevilla",750,2,85.0,Sevilla,Sevilla Este,Emilio Lemos,Garaje incluido,Bajo interior con ascensor,Alquiler,Bajo,Interior,Si

## Unificar el nombre de la ciudad

In [43]:
ciudades_df = list(set(df_ciudades1['Ciudad'].to_list()))

In [44]:
municipios_top_20 = ["Madrid", "Barcelona", "Valencia", "Sevilla", "Zaragoza", "Málaga", "Murcia", "Palma", "Las Palmas de Gran Canaria", "Alacant/Alicante","Bilbao", "Córdoba", "Valladolid", "Vigo","L´Hospitalet de Llobregat","Gijón", "Vitoria-Gasteiz", "A Coruña", "Elche/Elx", "Granada"]

In [45]:
f.comprobar(df_ciudades1)

Alicante Alacant
A Coruna
Palma De Mallorca
Las Palmas De Gran Canaria
Hospitalet De Llobregat
Malaga
Gijon
Vitoria Gasteiz
Cordoba
Elche Elx

In [46]:
df_ciudades1 = f.unificar_ciudades(df_ciudades1)

In [47]:
f.comprobar(df_ciudades1)

In [101]:
df_ciudades1.columns

Index(['Vivienda', 'Precio (€)', 'Numero habitaciones',
       'Metros cuadrados (m²)', 'Ciudad', 'Zona', 'Barrio', 'Garaje',
       'Descripcion', 'Regimen', 'Planta', 'Interior/Exterior', 'Ascensor'],
      dtype='object')

In [104]:
df_ciudades1.rename(columns={'Ciudad':'Municipio'}, inplace= True)

In [105]:
df_ciudades1.columns

Index(['Vivienda', 'Precio (€)', 'Numero habitaciones',
       'Metros cuadrados (m²)', 'Municipio', 'Zona', 'Barrio', 'Garaje',
       'Descripcion', 'Regimen', 'Planta', 'Interior/Exterior', 'Ascensor'],
      dtype='object')

## Datos nulos

In [48]:
df_ciudades1.isnull().sum() # no hay valores vacios

Vivienda                 0
Precio (€)               0
Numero habitaciones      0
Metros cuadrados (m²)    0
Ciudad                   0
Zona                     0
Barrio                   0
Garaje                   0
Descripcion              0
Regimen                  0
Planta                   0
Interior/Exterior        0
Ascensor                 0
dtype: int64

# 2. Añadir datos adicionales

### 2.1 Afiliados **Seguridad Social**

este no esta limpio

In [51]:
df_afiliados = pd.read_csv("../files/csv/afiliados_municipio_09_2024.csv", sep=",")

In [52]:
df_afiliados

,id_municipio,id_provincia,municipio,provincia,reg_autonomos,reg_general,total
0,NaN,NACIONAL,NaN,NaN,3371345,16713472,21143996
1,01001,01,ALEGRIA-DULANTZI,ARABA/ÁLAVA,201,522,742
2,01002,01,AMURRIO,ARABA/ÁLAVA,581,3373,4081
3,01003,01,ARAMAIO,ARABA/ÁLAVA,59,173,239
4,01004,01,ARTZINIEGA,ARABA/ÁLAVA,99,296,409
...,...,...,...,...,...,...,...
8216,PROVINCIAL,48,NaN,BIZKAIA,80790,405467,505129
8217,PROVINCIAL,49,NaN,ZAMORA,15744,43690,61741
8218,PROVINCIAL,50,NaN,ZARAGOZA,64550,373375,453118
8219,PROVINCIAL,51,NaN,CEUTA,3115,18932,23099
8220,PROVINCIAL,52,NaN,MELILLA,4317,18732,24138

In [ ]:
# df....

### 2.2 Años de construccion de las viviendas

In [59]:
df_anos = pd.read_csv("../files/Año de construcción.csv", sep=";")

In [60]:
df_anos

,Municipio,Total Total,Total Antes de 1900,Total De 1900 a 1920,Total De 1921 a 1940,Total De 1941 a 1950,Total De 1951 a 1960,Total De 1961 a 1970,Total De 1971 a 1980,Total De 1981 a 1990,...,Vivienda no principal De 1921 a 1940,Vivienda no principal De 1941 a 1950,Vivienda no principal De 1951 a 1960,Vivienda no principal De 1961 a 1970,Vivienda no principal De 1971 a 1980,Vivienda no principal De 1981 a 1990,Vivienda no principal De 1991 a 2000,Vivienda no principal De 2001 a 2010,Vivienda no principal De 2011 a 2020,Vivienda no principal No consta
0,Alacant/Alicante,187.658,350.000,1.752,3.098,2.582,9.027,48.513,36.844,23.531,...,1.425,990.000,2.551,14.387,9.715,6.279,4.855,7.376,1.520,1.596
1,Barcelona,808.751,35.051,75.201,85.023,23.495,76.057,204.691,168.880,36.979,...,20.194,4.920,11.879,23.726,17.600,3.587,4.202,6.973,2.834,11.585
2,Bilbao,165.685,3.882,8.025,9.342,7.491,27.965,44.185,28.462,9.329,...,1.177,934.000,2.825,4.077,2.123,753.000,755.000,972.000,701.000,0.000
3,A Coruña,136.205,1.636,2.530,5.276,3.534,7.763,31.441,25.289,16.852,...,2.279,1.241,2.264,7.161,4.662,2.630,3.107,4.750,1.360,86.000
4,Córdoba,155.400,6.000,819.000,1.792,3.875,8.905,32.892,34.412,19.388,...,705.000,1.255,2.307,7.202,6.137,3.409,4.054,5.278,1.977,125.000
5,Elche/Elx,116.080,169.000,1.831,1.903,1.520,4.822,19.731,23.369,18.063,...,1.015,767.000,1.413,3.896,4.280,4.142,3.991,5.465,1.435,75.000
6,Gijón,148.955,1.805,2.071,1.845,1.417,8.266,39.067,32.579,13.990,...,753.000,504.000,1.889,7.897,5.169,1.998,2.986,3.828,897.000,987.000
7,Granada,141.257,465.000,4.588,2.640,2.475,5.713,29.159,38.819,20.318,...,1.465,1.044,2.089,9.917,10.299,4.857,3.818,4.913,1.353,599.000
8,L´Hospitalet de Llobregat,110.488,98.000,1.016,3.786,1.964,11.954,41.449,32.973,3.440,...,658.000,305.000,891.000,2.387,1.858,292.000,254.000,965.000,572.000,250.000
9,Madrid,1.533.221,16.328,74.456,93.505,56.596,184.107,360.734,231.957,131.767,...,18.582,9.549,21.896,40.179,26.296,13.164,18.209,30.000,13.301,793.000
10,Murcia,219.740,155.000,1.771,3.707,5.924,12.914,25.400,28.664,25.723,...,1.630,2.391,4.114,6.074,5.248,4.015,5.108,17.631,2.217,6.830
11,Málaga,261.857,2.091,2.645,3.381,3.505,8.580,49.956,69.920,32.174,...,940.000,825.000,1.379,7.663,8.084,3.796,4.135,8.803,2.518,2.895
12,Palma,186.482,3.858,7.836,9.238,6.420,12.330,34.017,40.493,17.562,...,2.000,1.315,1.958,3.918,3.599,1.877,2.044,4.071,1.730,2.790
13,Las Palmas de Gran Canaria,175.181,536.000,2.422,5.360,4.824,11.281,38.229,36.964,16.875,...,1.339,1.057,1.992,6.840,4.917,2.216,3.319,4.852,524.000,4.061
14,Sevilla,327.393,242.000,5.411,10.937,7.737,24.467,69.247,80.169,44.235,...,3.637,2.365,5.223,14.119,12.485,6.251,6.143,5.134,1.641,1.187
15,Valladolid,159.363,802.000,2.097,2.237,2.534,9.244,44.283,33.171,19.510,...,931.000,766.000,2.371,9.200,5.536,3.131,3.119,4.781,731.000,95.000
16,Valencia,414.988,5.342,12.000,23.584,11.660,38.383,94.049,99.336,40.766,...,8.780,3.455,9.063,20.154,17.046,6.674,6.961,8.136,1.896,1.493
17,Vigo,144.293,843.000,5.620,5.085,5.394,9.577,20.613,30.608,18.282,...,1.658,1.512,2.205,3.840,4.759,2.571,4.249,4.613,805.000,1.641
18,Vitoria-Gasteiz,119.853,1.043,852.000,998.000,1.793,6.645,22.392,25.975,16.050,...,215.000,306.000,1.093,2.957,2.465,1.489,1.307,1.666,702.000,0.000
19,Zaragoza,338.961,965.000,3.227,11.897,9.268,26.781,70.550,64.791,44.175,...,3.920,2.463,6.038,12.688,9.113,5.360,5.429,6.434,1.975,3.752

In [61]:
def comprobar_municipio(df_ciudades1): 
    ciudades_df = list(set(df_ciudades1['Municipio'].to_list()))

    for ciu in ciudades_df: 
        
        if ciu not in municipios_top_20: 
            print(ciu)

In [62]:
comprobar_municipio(df_anos)

### 2.3 m2_poblacion_municipio

In [73]:
df_m2_municipio = pd.read_csv("../utils/m2_poblacion_municipio.csv", sep =";")

In [74]:
df_m2_municipio.columns

Index(['Unnamed: 0', 'Municipio', 'Población', 'm2', 'Provincia'], dtype='object')

In [75]:
df_m2_municipio = df_m2_municipio.drop(["Unnamed: 0", 'Provincia'], axis=1)

### 2.4 **Regimen** viviendas

hay que ponerlo en porcentaje

In [76]:
df_regimen = pd.read_csv("../utils/Regimen.csv", sep=";")

In [80]:
df_regimen.columns

Index(['Unnamed: 0', 'Municipio', 'En alquiler', 'En propiedad',
       'Otro régimen de tenencia', 'Total (régimen de tenencia)'],
      dtype='object')

In [81]:
df_regimen = df_regimen.drop('Unnamed: 0', axis = 1)

### 2.5 **Tamaño** del hogar

In [82]:
df_tamaño_hogar = pd.read_csv("../utils/Tamaño_del_hogar.csv", sep=";")

In [84]:
df_tamaño_hogar = df_tamaño_hogar.drop('Unnamed: 0', axis=1)

In [ ]:
df_tamaño_hogar

,Municipio,1 persona,2 personas,3 personas,4 personas,5 o más personas
0,Alacant/Alicante,39.536,37.976,27.155,21.375,9.822
1,Barcelona,207.973,205.174,126.877,89.495,41.658
2,Bilbao,47.407,47.145,28.826,19.589,6.494
3,A Coruña,32.234,32.136,21.498,13.961,4.808
4,Córdoba,31.242,33.205,25.885,23.487,8.849
5,Elche/Elx,20.773,24.444,19.225,16.947,7.109
6,Gijón,38.928,39.375,24.710,13.156,4.180
7,Granada,33.549,27.223,17.464,13.384,6.696
8,L´Hospitalet de Llobregat,24.350,31.953,21.324,15.227,8.955
9,Madrid,397.447,380.686,251.859,190.474,102.389
10,Murcia,37.959,40.165,33.960,32.762,18.724
11,Málaga,54.869,58.621,46.385,39.436,18.934
12,Palma,38.296,43.849,33.830,25.061,16.065
13,Las Palmas de Gran Canaria,36.913,38.672,31.725,22.133,13.752
14,Sevilla,71.162,73.909,54.457,47.003,20.057
15,Valladolid,39.631,39.140,25.488,16.863,6.063
16,Valencia,96.493,93.169,64.611,48.242,20.656
17,Vigo,29.871,32.045,24.834,18.390,8.942
18,Vitoria-Gasteiz,33.223,33.280,19.913,15.690,5.059
19,Zaragoza,80.672,84.237,57.506,42.713,14.926

### 2.6 **Número** de viviendas **turísticas**

este hay q verlo bien la verdad

In [ ]:
df_turismo = pd.read_csv("../files/csv/vivienda_turismo.csv")

In [88]:
df_turismo = df_turismo.drop("id", axis = 1)

In [96]:
df_turismo[df_turismo['municipio'].isin( municipios_top_20)]

,municipio,2020M08,2021M02,2021M08,2022M02,2022M08,2023M02,2023M08,2024M02
46,Vitoria-Gasteiz,152.0,135.0,148.0,129.0,153.0,172.0,147.0,177.0
157,Alacant/Alicante,3815.0,3451.0,3301.0,3060.0,3224.0,3153.0,3418.0,3589.0
848,Palma,1702.0,1467.0,1471.0,1490.0,1390.0,1279.0,1075.0,1023.0
876,Barcelona,25956.0,22635.0,20763.0,18953.0,14807.0,14188.0,14713.0,16768.0
896,Barcelona,17280.0,14728.0,12930.0,11918.0,8066.0,7509.0,7531.0,8842.0
2075,Córdoba,1672.0,1487.0,1486.0,1535.0,1827.0,2006.0,2250.0,2521.0
2097,Córdoba,1364.0,1182.0,1174.0,1180.0,1406.0,1526.0,1726.0,1981.0
2715,Granada,5594.0,5268.0,5281.0,5497.0,5780.0,6380.0,6601.0,7187.0
2788,Granada,2463.0,2082.0,2145.0,2175.0,2294.0,2450.0,2458.0,2622.0
4338,Madrid,19597.0,17802.0,17400.0,15241.0,15763.0,16351.0,16970.0,19456.0
4416,Madrid,16894.0,15203.0,14686.0,12691.0,13087.0,13502.0,14133.0,16100.0
4518,Málaga,34567.0,31736.0,31737.0,30659.0,35060.0,35360.0,39041.0,41038.0
4585,Málaga,5899.0,4932.0,5054.0,5029.0,5952.0,6252.0,6550.0,7038.0
4622,Murcia,6146.0,5722.0,5741.0,5554.0,6133.0,6288.0,6952.0,7309.0
4652,Murcia,840.0,786.0,797.0,747.0,796.0,830.0,742.0,984.0
5058,Gijón,883.0,755.0,946.0,836.0,1127.0,1100.0,1418.0,1427.0
5397,Vigo,758.0,693.0,795.0,792.0,939.0,953.0,1181.0,1324.0
6135,Sevilla,6432.0,5543.0,5486.0,5544.0,5913.0,6152.0,6499.0,7477.0
6226,Sevilla,5540.0,4712.0,4634.0,4713.0,4966.0,5149.0,5432.0,6171.0
7320,Valladolid,443.0,432.0,458.0,449.0,462.0,505.0,507.0,611.0
7501,Valladolid,254.0,246.0,267.0,253.0,249.0,272.0,259.0,330.0
7566,Bilbao,1005.0,877.0,911.0,857.0,972.0,975.0,1171.0,1134.0
7908,Zaragoza,980.0,919.0,911.0,854.0,921.0,996.0,993.0,1253.0
8197,Zaragoza,708.0,659.0,639.0,591.0,641.0,700.0,698.0,934.0

### 2. Unión de datos

In [112]:
df_final = pd.merge(df_ciudades1, df_tamaño_hogar, on="Municipio", how ="inner")

In [113]:
df_final = pd.merge(df_final, df_m2_municipio, on="Municipio", how ="inner")

In [115]:
df_final = pd.merge(df_final, df_anos, on="Municipio", how ="inner")

In [116]:
df_final

,Vivienda,Precio (€),Numero habitaciones,Metros cuadrados (m²),Municipio,Zona,Barrio,Garaje,Descripcion,Regimen,...,Vivienda no principal De 1921 a 1940,Vivienda no principal De 1941 a 1950,Vivienda no principal De 1951 a 1960,Vivienda no principal De 1961 a 1970,Vivienda no principal De 1971 a 1980,Vivienda no principal De 1981 a 1990,Vivienda no principal De 1991 a 2000,Vivienda no principal De 2001 a 2010,Vivienda no principal De 2011 a 2020,Vivienda no principal No consta
0,"Piso en San Isidro, Madrid",245000,2,65.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior con ascensor,Compra,...,18.582,9.549,21.896,40.179,26.296,13.164,18.209,30.000,13.301,793.0
1,"Piso en calle de Pablo Montesinos, San Isidro,...",240000,3,79.0,Madrid,Carabanchel,San Isidro,No,Bajo exterior con ascensor,Compra,...,18.582,9.549,21.896,40.179,26.296,13.164,18.209,30.000,13.301,793.0
2,"Piso en calle Soldado José María Rey, San Isid...",199000,1,88.0,Madrid,Carabanchel,San Isidro,No,Planta 2ª exterior con ascensor,Compra,...,18.582,9.549,21.896,40.179,26.296,13.164,18.209,30.000,13.301,793.0
3,"Piso en calle Alcaudón, San Isidro, Madrid",237000,3,67.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior con ascensor,Compra,...,18.582,9.549,21.896,40.179,26.296,13.164,18.209,30.000,13.301,793.0
4,"Piso en San Isidro, Madrid",250000,2,73.0,Madrid,Carabanchel,San Isidro,No,Planta 1ª exterior sin ascensor,Compra,...,18.582,9.549,21.896,40.179,26.296,13.164,18.209,30.000,13.301,793.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6168,"Piso en avenida Pablo Picasso, 1, Zaidín, Granada",800,3,80.0,Granada,Zaidin,Zaidin,No,Bajo exterior sin ascensor,Alquiler,...,1.465,1.044,2.089,9.917,10.299,4.857,3.818,4.913,1.353,599.0
6169,"Piso en avenida Barcelona, 18, Zaidín, Granada",700,3,140.0,Granada,Zaidin,Zaidin,No,Planta 9ª exterior con ascensor,Alquiler,...,1.465,1.044,2.089,9.917,10.299,4.857,3.818,4.913,1.353,599.0
6170,"Piso en Zaidín, Granada",850,3,96.0,Granada,Zaidin,Zaidin,Garaje incluido,Bajo exterior con ascensor,Alquiler,...,1.465,1.044,2.089,9.917,10.299,4.857,3.818,4.913,1.353,599.0
6171,"Piso en calle Covadonga, 6, Zaidín, Granada",800,3,70.0,Granada,Zaidin,Zaidin,No,Planta 2ª exterior con ascensor,Alquiler,...,1.465,1.044,2.089,9.917,10.299,4.857,3.818,4.913,1.353,599.0
6172,"Piso en Zaidín, Granada",900,3,90.0,Granada,Zaidin,Zaidin,No,Planta 1ª,Alquiler,...,1.465,1.044,2.089,9.917,10.299,4.857,3.818,4.913,1.353,599.0

# 3.  Exportar datos limpios

In [ ]:
df_ciudades1.to_csv("datos_limpios.csv", sep =";")